<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>widget-image</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
  <link href="/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left cl-text-black">
          </span>
    </div>
    <span class="navbar-brand cl-text-grey cl-text-bold">
      Widget Edit
    </span>
    <div class="navbar-text pull-right cl-icon-padding">
      <span class="glyphicon glyphicon-plus cl-text-black"></span>
    </div>
  </div>
</nav>
<div class="continer-fluid cl-container-padding" style="padding-top: 10px">
  <form>
    <div class ="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class ="form-group">
      <label for="fill text">Text</label>
      <input type="text" class="form-control" id="fill text" value="US Senate Reaches Compromise on Emergence">
    </div>
    <div class ="form-group">
      <label for="url">URL</label>
      <input id="url" class="form-control" type="text" value="https://i.kinja-img.com/gawker-media/image">
    </div>
    <div class ="form-group">
      <label for="width">Width</label>
      <input type="text" class="form-control" id="width" value="100%">
    </div>
    <div class ="form-group">
      <label for="upload">Upload</label>
      <input type="file" class="form-control" id="upload">
    </div>
  </form>
  <a class="btn btn-primary btn-block" href="#">Upload Image</a>
  <a class="btn btn-danger  btn-block" href="#">Delete</a>
</div>

<nav class="navbar navbar-fixed-bottom navbar-default">
  <div class="container-fluid row">
    <div class="pull-right navbar-text cl-icon-padding">
      <span class="glyphicon glyphicon-user cl-text-blue"></span>
    </div>
  </div>
</nav>

</body>
</html>
