<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>widget-list</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
  <link href="../../css/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
          <span class="glyphicon glyphicon-chevron-left cl-text-black">
          </span>
    </div>
    <span class="navbar-brand cl-text-grey cl-text-bold">
      Widgets
    </span>
    <div class="navbar-text pull-right cl-icon-padding">
      <span class="glyphicon glyphicon-plus cl-text-black"></span>
    </div>
  </div>
</nav>

<div class = "container cl-container-padding cl-container-padding-bottom">
  <div>
    <div class="pull-right">
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger" ></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </div>
    <h1>GIZMODO</h1>
  </div>

  <div>
    <div class="pull-right">
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger" ></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </div>
    <h2>US Senate Reaches Compromise on Emergency Zika Funding</h2>
  </div>

  <div>
   <div class="pull-right">
     <a href="#" class="pull-right">
       <span class="glyphicon glyphicon-menu-hamburger"></span>
     </a>
     <a href="#">
       <span class="glyphicon glyphicon-cog"></span>
     </a>
   </div>
    <img class="img-responsive img-rounded cl-widget-images"
         src="http://i2.cdn.cnn.com/cnnnext/dam/assets/170604130220-41-london-bridge-incident-0604-gallery-exlarge-169.jpg">
  </div>

  <div>
    <div class="pull-right">
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </div>
    <p>
      Google LLC[5] is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware.<span class="cl-highlight-text-blue">Google was founded in 1998 by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University, California. Together, they own about 14 percent of its shares and control 56 percent of the stockholder voting power through supervoting stock.</span> They incorporated Google as a privately held company on September 4, 1998.
    </p>
  </div>

  <div>
    <div class="pull-right">
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </div>
    <h3>Man in Wingsuit Flies Straight Through a Ring of Fire</h3>
  </div>

  <div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uLWLashCXHE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger" style="background-color: white"></span>
      </a>
      <a href="widget-youtube.html" class="pull-right">
        <span class="glyphicon glyphicon-cog" style="background-color: white"></span>
      </a>
    </div>
  </div>

  <div>
    <div class="pull-right">
      <a href="#" class="pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </div>
    <p>
      Human flight artist Uli Emanuele has brought to life another one of his sensational dreams, to fly through a ring of fire.  With the help of some friends they cart the heavy metal contraption high into the Italian Alps.  With a little improvisation the support crew get everything ready just as the wind slows allowing Uli to soar through the flaming circle.
    </p>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-default">
  <div class="container-fluid row">
    <div class="pull-right navbar-text cl-icon-padding">
      <span class="glyphicon glyphicon-user cl-text-blue"></span>
    </div>
    <div class="pull-left navbar-text">
      <a href="#" class="cl-icon-padding">
        <span class="glyphicon glyphicon-play"></span>
      </a>
      <a href="#" class="cl-icon-padding">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
    </div>
  </div>
</nav>

</body>
</html>
