<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
  <link href="../../css/style.css" rel="stylesheet">
  <title>Profile</title>
</head>
<body>
<nav class="navbar navbar-fixed-top bg-primary">
  <div class="container">
    <h3 class="navbar-text text-white cl-text-bold">Profile</h3>
  </div>
</nav>
<div class="container">
  <form>
    <strong>Username</strong>
    <input type="text" class = "form-control form-fixer input-lg" name="username" value="jannunzi"><br>
    <strong>Email</strong>
    <input type="text" class = "form-control form-fixer input-lg" name="email" value="jannunzi@gmail.com"><br>
    <strong>First Name</strong>
    <input type="text" class = "form-control form-fixer input-lg" name="fname" value="Jose"><br>
    <strong>Last Name</strong>
    <input type="text" class = "form-control form-fixer input-lg" name="lname" value="Annunziato"><br>
  </form>
  <button type="button" class="btn btn-primary btn-block">Websites</button><br>
  <button type="button" class="btn btn-danger btn-block">Logout</button>
</div>
<nav class="navbar navbar-fixed-bottom bg-primary">
</nav>
</body>
</html>
