<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page">
          <span class="glyphicon glyphicon-chevron-left cl-text-black">
          </span>
      </a>
    </div>
    <span class="navbar-brand cl-text-grey cl-text-bold">
      Widgets
    </span>
    <div class="navbar-text pull-right cl-icon-padding">
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">
      <span class="glyphicon glyphicon-plus cl-text-black"></span>
      </a>
    </div>
  </div>
</nav>

<div class = "container cl-container-padding cl-container-padding-bottom">

  <div *ngFor="let widget of widgets">

    <div [ngSwitch]="widget.widgetType">
        <div *ngSwitchCase="'HEADER'">
        <div><p>{{widget.widgetType}} {{widget.text}}</p></div>
        <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
        <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
        </div><br>

        <div *ngSwitchCase="'YOUTUBE'">
        <p>{{widget.widgetType}}</p>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" [src]="widget.url | safe" frameborder="0" allowfullscreen></iframe>
        <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
        <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
        </div>
        </div><br>

        <div *ngSwitchCase="'IMAGE'">
        <p>{{widget.widgetType}}</p>
        <div>
        <img class="img-responsive img-rounded cl-widget-images" src={{widget.url}}>
        <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
        <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
        </div>
        </div>

    </div>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-default">
  <div class="container-fluid row">
    <div class="pull-right navbar-text cl-icon-padding">
      <span class="glyphicon glyphicon-user cl-text-blue"></span>
    </div>
    <div class="pull-left navbar-text">
        <span class="glyphicon glyphicon-play"></span>
        <span class="glyphicon glyphicon-eye-open"></span>
    </div>
  </div>
</nav>
