<h1>Login</h1>

<div class='conatiner'>

<form (ngSubmit) = "loginUser()" #f="ngForm">
<label>Username</label><br>
<input name="username" [(ngModel)]="username" required placeholder="username" >
<br><br/>
<label>Password</label><br>
<input type="password" required [(ngModel)]="password" placeholder="password" name="password">
<br>
<br>
<button class="btn btn-primary" type="submit" [disabled]="!f.valid">Login</button>
  <!--<button class="fa fa-facebook btn btn-primary">-->
    <!--<a href="{{baseUrl}}/auth/facebook"></a>Facebook</button>-->
</form><br>

  <a href="{{baseUrl}}/auth/facebook" class="btn btn-primary">
    <span class="fa fa-facebook"></span>
    Facebook
  </a>

</div>
