<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
         <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page">
          <span class="glyphicon glyphicon-chevron-left cl-text-black">
          </span>
         </a>
    </div>
    <span class="navbar-brand cl-text-grey cl-text-bold">
      New Page
    </span>
    <div class="navbar-text pull-right cl-icon-padding">
      <a (click)="createNewPage()">
        <span class="glyphicon glyphicon-ok cl-text-black"></span>
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid cl-container-padding cl-container-padding-bottom">
  <div *ngIf="error"
       class="alert alert-danger">
    {{error}}
  </div>
  <form>
    <div class ="form-group">
      <label for="name">Name</label>
      <input type="text"
             name="pagename"
             class="form-control"
             id="name"
             placeholder="Page Name"
             required
             [(ngModel)]="pageName">
    </div>
    <div class ="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" class="form-control"
                rows="2" cols="20" placeholder="Page Description"
      [(ngModel)]="pageDesc"></textarea>
    </div>
  </form>
</div>
<nav class="navbar navbar-fixed-bottom navbar-default">
  <div class="container-fluid row">
    <div class="pull-right navbar-text cl-icon-padding">
      <a routerLink="/profile/{{userId}}">
      <span class="glyphicon glyphicon-user cl-text-blue"></span>
      </a>
    </div>
  </div>
</nav>
